* {
  margin: 0;
  padding: 0;
  /* font-family: "Courgette", cursive; */
  font-family: "Kalam", cursive;
}

.link {
  color: #90caf9;
  text-decoration: none;
  /* font-family: "Kalam", cursive; */
}

.animate {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .animate {
  opacity: 0;
}
